@charset "utf-8";

#wrap{}
/* 헤더영역 */
#header {position:relative;}
/* hTop 유틸 영역 */
.hTop {
    width:100%; 
    height:38px; 
    background:#3834cb;
}
.hTop .utill {
    width:1200px; 
    margin:0 auto;
}
/* 유틸 left */
.hTop .left {float: left;}
.hTop .left li {
    display:inline-block; 
    border-right:1px dotted #bbb; 
    margin-right:15px; 
    padding-right:15px;
}
.hTop .left li:first-child {
    border-left:1px dotted #bbb; 
    padding-left:15px;
}
/* 유틸 right */
.hTop .right {float: right;}
.hTop .right li {
    display:inline-block;
    border-left:1px dotted #bbb; 
    margin-left:15px; 
    padding-left:15px;
}
.hTop .utill li a {
    font-size:13px; 
    line-height:38px; 
    color:#fff;
}
/* 전체 삼선메뉴 */
.hTop .right .all {
    border-left:none; 
    padding-left:0;
}
.hTop .right .all a {
    display:block; 
    text-indent:-9999px; 
    width:38px; 
    height:38px; 
    background:url(../img/all.jpg) no-repeat;
}

/* gnb 메뉴 영역  */
.gnb {
    width:100%; 
    height:80px; 
    background:#fff;
}
.gnb .inner {
    position: relative;
    width:1200px;
    margin:0 auto;
}
.gnb .logo {
    float:left; 
    padding-top:23px;
}
.gnb .clock {
    position: absolute; top: 80px; left: 0;
    z-index: 100;
    display: none;
} 
/* 메인메뉴 */
.gnb .mainMenu {
    float:right;
    position: relative;
}
.gnb .mainMenu > li {
    float:left; 
    text-align:center;
    width: 160px;
    line-height: 80px;
}
.gnb .mainMenu > li > a {
    display:block; 
    font-size:18px; 
    font-weight:500; 
}
 /* 서브메뉴 영역 */
.gnb .subMenu {
    position: absolute;
    top: 80px;
    width: 161px;
    height:360px; 
    text-align: center;
    display:none; 
    border-left:1px solid #555;
    box-sizing: border-box;
    z-index: 50;
}
.gnb .subMenu.last {border-right:1px solid #555;}
.gnb .subMenu li {line-height: 35px;}
.gnb .subMenu li a {
    font-size: 15px; 
    color: #555; 
    position: relative;
}
.gnb .subMenu li a:before {
    content:''; 
    display:inline-block; 
    position:absolute; bottom:0; left: 0; 
    width:0; height:10px; 
    background:#cecdff; 
    transition:0.2s all; 
    z-index:-1;
}
/* 마우스 하버시 */
.gnb .mainMenu>li:hover>a {color: #3834cb;}
.gnb .subMenu li:hover a:before {width: 100%;}
/* 서브배경 영역 */
.subBg {
    position: absolute;
    top: 117px;
    width:100%; 
    height:360px;
    display:none; 
    z-index: 10;
    border-top:1px solid #555; 
    border-bottom:1px solid #555;
    background: #fff;
}
.subBg .subbgIn {
    display: block;
    text-indent: -9999px;
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    background: url(../img/clock.jpg) no-repeat left;
    border-left: 1px solid #555;
    z-index: 50;
}

/* 메인비주얼 영역 */
#mainVisual {
    width: 100%; 
    height: 450px; 
    overflow: hidden; 
    position: relative;
}
/* 검색창 영역 */
.search {position:absolute; bottom: 106px; left: 360px;}
fieldset {
    overflow:hidden; 
    position:relative; 
    width: 608px; 
    margin: 30px 0 45px; 
    padding: 17px 70px 17px 25px; 
    box-sizing: border-box; 
    background: #fff; 
    border: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
fieldset > div {float: left;}
legend {
    overflow: hidden; 
    position: absolute; 
    top: 0; left: 0;
}
.selectBox {
    display: inline-block; 
    position: relative; left: 0; 
    width: 145px; height: 36px;
}
.selectBox:before {
    content: ''; 
    position: absolute; top: 50%; right: 10px; 
    margin-top: -3px;  
    border: 1px solid transparent; 
    border-top-color: #444;
}

.selectBox select {
    width: 100%; 
    height: 100%; 
    padding: 5px; 
    border: none; 
    appearance: none; 
    font-size: 16px; 
    font-weight: 600; 
    color: #333; 
    background: url(../img/arrow.png) no-repeat 95% 50%;
}

.selectBox select option {
    display: block; 
    white-space: nowrap; 
    padding: 0 4px 1px;
}

.wordBox {
    position: relative; 
    width: 320px; 
    height: 36px; 
    margin-left: 15px; 
    padding-left: 25px;
    line-height: 36px; 
    border-left: 1px solid #ddd;
}

.wordBox label {
    position: absolute; top: 0; left: 35px;
    font-size: 16px; 
    display: block; 
    visibility: hidden;
}

.wordBox input {
    width: 100%; height: 100%; 
    box-sizing: border-box;           
    border: none; 
    font-size: 16px;
}

.schBtn {
    display: block; 
    text-indent: -9999px;
    width: 70px; 
    height: 100%;
    position: absolute; top: 0; right: 0;
    background: url(../img/search.jpg) no-repeat;
}

/* 컨테이너 영역 */
#container {}
#container .inner {
    position: relative; 
    width: 1200px; 
    margin: 0 auto;
}
/* 콘텐츠1 퀵메뉴 영역 */
.cont1 {
    width:1200px; height:140px; 
    margin-top: -100px;
    background: #fff; 
    margin-bottom: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    z-index: 50;
}
.cont1 ul {}
.cont1 ul li {
    float: left; 
    width: 199px; height: 140px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.cont1 ul .icon6 {border-right: 0;}
.cont1 ul li a {
    display: block; 
    padding: 35px 77.5px 12px 77.5px;
}
.cont1 ul li a:before {
    content: ''; 
    display: block; 
    height: 45px;                     
    background-repeat: no-repeat;            
    background-position: center;                 
    transition: all 0.6s;
}
.cont1 ul li span {font-weight: 500;}

.cont1 ul .icon1 a:before {
    width: 45px; 
    background-image: url(../img/icon1.png);
}
.cont1 ul .icon2 a:before {width: 46px; background-image: url(../img/icon2.png);}
.cont1 ul .icon3 a:before {width: 34px; background-image: url(../img/icon3.png);}
.cont1 ul .icon4 a:before {width: 36px; background-image: url(../img/icon4.png);}
.cont1 ul .icon5 a:before {width: 41px; background-image: url(../img/icon5.png);}
.cont1 ul .icon6 a:before {width: 45px; background-image: url(../img/icon6.png);}

/* 퀵메뉴 아이콘 회전 */
.cont1 ul li:hover a:before {transform:rotateY(360deg);}

/* 콘텐츠2 일정 공지사항 팝업존 영역*/
.cont2 {margin-bottom: 60px;}
.cont2 > div {
    float: left; 
    height: 260px; 
    margin-right: 15px;
}
.cont2 .schedule {
    width: 406px; height: 260px; 
    position: relative; 
    border: 1px solid #ddd;
}

.cont2 .schedule h3 {
    margin-left: 15px;
    font-size: 18px; 
    line-height: 48px; 
    font-weight: 500;
}
.cont2 .sList {position: absolute; top: 17px; right: 15px;}
.cont2 .sList li {
    float: left; 
    margin-right: 10px; 
    font-size: 13px;
}
                        
.cont2 .sList li span {
    width: 9px; 
    height: 9px; 
    display: inline-block;
    margin-right: 9px;
    border-radius: 20px; 
    background: #ff3535;
}
.cont2 .sList .red span {}
.cont2 .sList .blue span {background: #5e5eff;}
.cont2 .sList .yellow span {
    border: 2px solid #ffda2c; 
    width: 7px; 
    height: 7px; 
    background: #fff;
}
/* 왼쪽 month 월 영역 */
.cont2 .left {
    width:163px; 
    height:212px; 
    float: left;
    background: #5e5eff; 
    text-align: center;
}
.cont2 .left .month {
    position: relative; 
    padding: 40px 0;
    text-align: center; 
    color: #fff; 
}
.cont2 .left .month .tit {
    font-size: 38px; 
    font-weight: 500; 
    line-height: 1em;
}
.cont2 .left .month .tit span {
    display: block; 
    font-size: 18px;
}
/* 이전 다음 버튼 */
.cont2 .left .month a {
    position: absolute; top: 90px; 
    display: block;
    width: 11px; 
    height: 18px;
    text-indent: -9999px;
    background-repeat: no-repeat;
}
.cont2 .left .month .pre {
    left: 10px; 
    background-image: url(../img/schPre.png);
}
.cont2 .left .month .next {
    right: 10px; 
    background-image: url(../img/schNext.png);
}
/* 일정 더보기 */
.cont2 .left .more {
    font-size: 13px; 
    color: #fff; 
    opacity: 0.8;
}

/* 오른쪽 도서관 일정 */
.cont2 .right {
    width: 243px; 
    height: 212px; 
    float: right; 
    box-sizing: border-box;
    padding: 15px; 
    font-size: 13px; 
    text-align: center;
    border-top: 1px solid #ddd;
}
.cont2 .right .week li {font-weight: 500;}
.cont2 .right li {
    display: inline-block; 
    width: 13%;
    line-height: 21px; 
    margin-bottom: 8px;
}
.cont2 .right .day span {
    display: inline-block; 
    width: 21px; height: 21px;
    border-radius: 21px;  
    color: #666;
}
.cont2 .right .red span {
    background: #ff3535; 
    color: #fff;
}
.cont2 .right .blue span {
    background: #5e5eff; 
    color: #fff;
}
.cont2 .right .yellow span {border: 2px solid #ffda2c;}

/* 탭메뉴 영역 */
.cont2 .tabMenu {
    width: 449px;
    height: 260px; 
    border: 1px solid #ddd;
}
.cont2 .tabBtn {border-bottom: 1px solid #ddd;}        
.cont2 .tabBtn li {float: left;}
.cont2 .tabBtn li a {
    position: relative;
    padding: 12px 15px; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 48px;
}
.cont2 .tabBtn li a:after {
    content: ''; 
    position: absolute; left: 0; bottom: 0; 
    width: 0; 
    height: 3px; 
    background: #3834cb;
    transition: all 0.3s;
}

.cont2 .tabBtn .more {
    float: right; 
    width: 30px; 
    height: 30px; 
    text-indent: -9999px; 
    margin: 9px 14px;
    background: url(../img/more1.png) no-repeat center;}

                              
 /* 마우스 하버시 */
.cont2 .tabBtn li:hover a {color:#3834cb;}
.cont2 .tabBtn li:hover a:after {width: 100%;}

/* 탭 콘텐츠 영역 */            
.cont2 .tabCont {position: relative;}
.cont2 .tabCont ul {
    width: 449px; 
    position: absolute; 
    top: 0; left: 0;
}
.cont2 .tabCont li {
    padding: 15px; 
    border-bottom: 1px dotted #ddd;
}
.cont2 .tabCont li:last-child {border-bottom: none;}
.cont2 .tabCont li span {
    display: block; 
    font-size: 13px; 
    color: #666;
}
.cont2 .tabCont li .date {
    display: inline-block; 
    float: right;
}

/* 팝업배너 영역 */
.cont2 .popup {
    width: 309px; 
    height: 260px;
    border: 1px solid #ddd; 
    overflow: hidden; 
    margin-right: 0; 
    position: relative;
}

.swiper-button-next, .swiper-button-prev {margin-top:0; top: -1px;}
.swiper-button-next:after, .swiper-button-prev:after {display: none;}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {opacity: 1;}

.popup .swiper-button-prev {
    width: 36px; 
    height: 36px;
    left: 239px;
    background-image: url(../img/btnL.png);}

.popup .swiper-button-next {
    width: 36px; 
    height: 36px;
    right: -1px;
    background-image: url(../img/btnR.png);}

/* 콘텐츠3 추천도서 영역 */
.cont3 {
    position: relative; 
    height: 430px; 
    margin-bottom: 80px;
}
/* 탭메뉴 영역 */
.cont3 .bookMenu ul {
    position: absolute; 
    top: 0; left: 50%; 
    transform: translateX(-50%);
}
.cont3 .bookMenu li:nth-child(2) {
    margin-left: -1px; 
    margin-right: -1px;
}
.cont3 .bookMenu li {
    float: left; 
    width: 180px; 
    height: 45px; 
    line-height: 43px; 
    text-align: center; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
}
.cont3 .bookMenu li a {
    font-size: 18px; 
    padding: 9px 30px;
}
.cont3 .bookMenu .active {
    background: #5e5eff; 
    border: none;
}
.cont3 .bookMenu .active a {color: #fff;}

/* 탭 콘텐츠 영역*/
.cont3 .bookList {
    position: relative; 
    top: 110px; left: 0; 
    text-align: center;
}
.cont3 .bookList li {
    float: left; 
    margin-right: 20px;
}
.cont3 .bookList li:last-child {margin-right: 0;}
.cont3 .bookList .photo {
    width: 180px; 
    height: 260px; 
    border: 1px solid #ddd;
}
.cont3 .bookList .tit {
    font-weight: 500; 
    margin: 12px 0 7px 0;
}
.cont3 .bookList .name {
    font-size: 14px; 
    color: #666;
}
/* 추천도서 */
.cont3 .bookList .recommend {position: absolute; top: 0; left: 0;}
/* 새로 들어온 책 */
.cont3 .bookList .new {
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 100;
}
/* 베스트 도서 */
.cont3 .bookList .best {position: absolute; top: 0; left: 0;}

/* 콘텐츠4 큐레이션 영역 */
.cont4 {
    margin-bottom: 80px; 
    height: 166px;
}
.cont4 .info {
    float: left; 
    margin-top: 46px;
}
.cont4 .info .tit {
    font-size: 22px; 
    line-height: 1em;
}
.cont4 .info .txt {
    color: #666; 
    margin-top: 18px;
}
/* 이미지 영역 */
.cont4 .photo {float: right;}
.cont4 .photo li {
    float: left; 
    margin-right: 20px; 
    position: relative;
}
.cont4 .photo li:last-child {margin-right: 0;}
.cont4 .photo li span {
    display: block; 
    position: absolute; 
    top: 0; left: 0;               
    width: 166px; 
    height: 166px; 
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.8); 
    color: #fff;
    font-size: 18px; 
    font-weight: 500;
    line-height: 166px; 
    text-align: center;
    opacity: 0; 
    transition: all 0.3s;
}
/* 마우스 하버시 */
.cont4 .photo li:hover span {opacity: 1;}

/* 콘텐츠5 영역 */
.cont5 {
    height: 250px; 
    margin-bottom: 100px;
}
.cont5 > div {
    float: left; 
    margin-right: 14px;
}
/* 온라인 영역 */
.cont5 .online {
    width: 383px; 
    height: 250px;
}
/* 영화상영 영역 */
.cont5 .movie {
    width: 319px; 
    height: 250px; 
    border: 1px solid #ddd;
}
.cont5 .movie .tit {
    height: 48px; 
    border-bottom: 1px solid #ddd;
}
.cont5 .movie .tit h3 {
    float: left; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 48px;
    margin-left: 15px;
}
.cont5 .movie .tit .more {
    display: block; 
    float: right; 
    text-indent: -9999px;
    width: 13px; 
    height: 13px; 
    padding: 17.5px 15px;
    background: url(../img/more1.png) no-repeat center;
}
.cont5 .movie .mcont {
    position: relative;
    height: 202px; 
}
.cont5 .movie .photo {margin: 14px;}
.cont5 .movie .info {position: absolute; top: 10px; right: 14px;}
.cont5 .movie .info .name {
    font-weight: 500; 
    margin-bottom: 10px;
}
.cont5 .movie .info .txt {
    font-size: 14px; color: #666; 
    line-height: 24px;
}
/* 시설안내 영역 */
.cont5 .place {
    margin-right: 0; 
    width: 466px; 
    height: 248px; 
    position: relative;
    border: 1px solid #ddd;
}
.place img {
    width: 466px; 
    height: 248px; 
    overflow: hidden;
}
.place .txt {
    position: absolute;
    width: 468px; 
    height: 250px; 
    position: absolute; top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    cursor: pointer;
}
.place .txt .tit {
    font-size: 22px; 
    font-weight: 500; 
    color: #ffda2c; 
    margin-top: 100px; 
    margin-left: 35px;
}
.place .txt p {
    margin-top: 10px; 
    margin-left: 35px;
    color: #fff; 
}
.cont5 .place .photo .ph1 {}
.cont5 .place .photo .ph2 {position: absolute; top: 0; left: 0;}
/* 마우스 하버 */
.cont5 .place:hover .txt {display: block;}

/* 버튼영역 */
.cont5 .place .btn {position: absolute; top: -1px; right: 5px;}
.cont5 .place .btn a {
    display: inline-block;
    margin-right: -5px; 
    width: 36px; 
    height: 36px;
    text-indent: -9999px; 
    background-repeat: no-repeat;
}

.place .swiper-button-prev {
    width: 36px; 
    height: 36px;
    left: 398px;
    background-image: url(../img/btnL.png);}

.place .swiper-button-next {
width: 36px; 
height: 36px;
right: -1px;
background-image: url(../img/btnR.png);}


/* 푸터 영역 */
#footer {
    width: 100%; 
    height: 275px; 
    background: #333;
}
/* fTop 영역 */
.fTop {
    width: 100%; 
    height: 45px; 
    border-bottom: 1px solid #666;
}
.fTop .inner {
    width: 1200px; 
    height: 45px; 
    margin: 0 auto; 
    border-right: 1px solid #666;
}
/* 왼쪽 메뉴영역 */
.fTop .fmenu {float: left}
.fTop .fmenu li {
    float: left; 
    margin-right: 30px; 
    line-height: 45px;
}
.fTop .fmenu li a {
    font-size: 14px; 
    color: #ddd;
}
.fTop .fmenu li.on a {color: #ffda2c;}

/* 오른쪽 사이트 영역 */
.fTop .fsite {float: right;}
.fTop .fsite > div {
    position: relative;
    float: left;  
}
.fTop .fsite .select {
    width: 200px;
    height: 45px;
    border-left: 1px solid #666;
    background: url(../img/down.png) no-repeat 170px center;
}
.fTop .fsite .select a {
    display: block;
    padding: 0 15px;
    line-height: 45px;
    font-size: 14px;
    color: #ddd;
}

.fsite .select.on {}

.fTop .fsite .select ul {
    display: none;
    position: absolute;
    bottom: 45px;
    right: 0;
    width: 200px;
    z-index: 60;
}

.fTop .fsite .select ul.on {
    display: block;
}

.fTop .fsite .select ul li a{
    display: block;
    line-height: 35px;
    background: #333;
    color: #bbb;
    transition: all 0.2s;
}

.fTop .fsite .select ul li a:hover {color: #eee;}

/* fbttom 영역 */
.fbttom{}
.fbttom .inner {
    width: 1200px; 
    margin: 30px auto;
}
.fbttom .flogo {float: left;}
.fbttom .finfo {
    float: left; 
    font-size: 13px; 
    color: #666; 
    margin-left: 150px;
}
.fbttom .fsns {float: right;}
.fbttom .fsns a {
    margin-left:20px; 
    opacity:0.4; 
    transition:all 0.6s;
}
.fbttom .fsns a:hover {opacity:1;}
