@charset "utf-8";

#wrap{}
#wrap .inner{width: 1200px; margin: 0 auto; position: relative;}

/* 헤더영역 */
/* #header{width: 100%; height: 133px;} */
#hTop .inner{}
/* hTop 유틸영역 */
.hTop{height: 40px; border-bottom: 1px solid #ddd;}
.hTop .utill{position: absolute; top: 8px; right: 0;}
.hTop .utill a{font-size: 14px; line-height: 25px;}
.hTop .utill>div{display: inline-block;}
.hTop .utill .ulist .eshop{display: inline-block; text-indent:-9999px; 
    width: 65px; height: 25px;
    background: url(../img/eshop.png) no-repeat;}
.hTop .utill .ulist a{margin-right: 23px;}

/* 언어영역 */
.hTop .utill .lang{width: 100px; padding: 0 10px; position: relative;
    background: url(../img/lanBtn.png) no-repeat right 10px center; cursor: pointer;}
.hTop .utill .lang .list{position: absolute; top: 32px; left: 0; width: 120px; height: 123px;
    background: #fff; border-radius: 0 0 6px 6px; overflow: hidden;
border: 1px solid #ddd; border-top: none; z-index: 25; opacity: 0; transition: all 0.4s}

.hTop .utill .lang .list li a{display: block; padding: 8px 10px;}
/* 마우스 하버 */
.hTop .utill .ulist:hover .eshop{background: url(../img/eshop_on.png);}
.hTop .utill .lang:hover .list{opacity: 1;}
.hTop .utill .lang .list li:hover a{background: #eee;}

/* hBotoom gnb영역 */
.hBotoom{height: 93px;}
.hBotoom .logo{padding-top: 13px;}
.hBotoom .gnb{position: absolute; top: 35px; right: 0; z-index: 20;}
.hBotoom .gnb>ul>li{float: left; width: 175px; font-size: 20px; 
    text-align: center; position: relative;}
/* 마우스하버 */
.gnb ul li a span{display: block; width: 175px; height: 3px; background: #b5c817;
        position: absolute; top: 57px; left: 0; transform: scaleX(0); transition: all 0.5s; z-index: 10;}
.gnb ul li:hover a span{transform:scaleX(1);}

/* 서브메뉴 */
.hBotoom .gnb .subMenu{width: 175px; position: absolute; top: 59px; left: 0; 
    z-index: 5; display: none; border-radius: 0 0 6px 6px; overflow: hidden;}
.hBotoom .gnb .subMenu li{border-bottom: 1px solid #ddd;}
.hBotoom .gnb .subMenu li:last-child{border-bottom: 0;}
.hBotoom .gnb .subMenu li a{display: block; padding: 16px 40px; 
    background: #fff; font-size: 16px; opacity: 0.8;}
.hBotoom .gnb .subMenu li:hover a{color: #b5c817;}

/* 메인슬라이드 영역 */
#mainSlider{margin-bottom: 100px; width: 1920px; height: 574px; overflow: hidden;}

/* 컨테이너 영역 */
#container{}
/* 콘텐츠1 영역 */
.cont1{margin-bottom: 100px;}
.cont1 .txt{text-align: center; margin-bottom: 40px;}
.cont1 .txt .year{color: #f7901e;}
.cont1 .txt .tit{font-size: 30px; line-height: 1em; margin: 15px 0;}
.cont1 .txt p{font-size: 18px; line-height: 1em;}

.cont1 .product{position: relative; width: 1200px; margin: 0 auto; height: 382px; overflow: hidden;}
.cont1 .product .slides{position: absolute; top: 0; left: 0; transition: left 0.3s ease-out;}
.cont1 .product .slides li{width: 284px; height: 382px; 
    background: #fff; box-sizing: border-box; overflow: hidden; border: 1px solid #ddd; border-radius: 10px;}
.cont1 .product .slides li:not(:last-child){float: left; margin-right: 21px;}

.cont1 .product li:hover{border: 3px solid #b5c817; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}
.cont1 .product li:hover img{transform: rotate(10deg);}
.cont1 .product .slides li p{font-size: 16px; margin: 35px; text-align: center;}

.cont1 .btn{text-align: center; }
.cont1 .btn span{position: absolute; top: 50%; transform: translateY(-50%);
    color: #333; padding: 20px 10px; background-repeat: no-repeat; text-indent: -9999px;}
.cont1 .btn .prev{left: 0; background-image: url(../img/pre.png); background-position: center;}
.cont1 .btn .next{right: 0; background-image: url(../img/next.png);}

/* 콘텐츠2 영역 */
.cont2{width: 100%; background: #fbfbfb; padding: 70px 0; margin-bottom: 100px;}
/* 공통값 */
.cont2 .txt{margin-bottom: 39px;}
.cont2 .txt .tit{font-size: 26px; line-height: 1em; float: left;}
.cont2 .txt .more{display: block; text-indent: -9999px; float: right; 
    width: 24px; height: 24px; background: url(../img/more.png) no-repeat;}
.cont2 .txt .more:hover{background: url(../img/more_on.png);}
/* 공지사항 */
.cont2 .notice{width: 408px;}
.cont2 .notice li{padding: 14px 0; border-bottom: 1px solid #ddd;}
.cont2 .notice li span{float: right; color: #777;}
.cont2 .notice li:hover a{font-weight: 600;}

/* 새소식 */
.cont2 .news{position: absolute; top: 0; right: 0; width: 714px;}
.cont2 .news ul li{float: left; margin-right: 15px; 
    width: 226px; height: 243px; overflow: hidden; 
    border: 1px solid #ddd; border-radius: 5px; background: #fff;;}
.cont2 .news ul li:last-child{margin-right: 0;}
.cont2 .news ul li p{padding: 7px 33px; overflow: hidden; 
    white-space: nowrap; word-break: break-all;  text-overflow: ellipsis;}

/* 콘텐츠3영역 */
.cont3{margin-bottom: 100px;}
.cont3 .video{width: 1100px; height: 619px; margin: 0 auto;}
.cont3 .video iframe{border-radius: 10px;}

/* 콘텐츠4영역 */
.cont4{margin-bottom: 100px; text-align: center;}
.cont4 .txt .tit{font-size: 30px; line-height: 1.5em; margin-bottom: 40px;}
.cont4 .txt .sns{margin-bottom: 40px;}
.cont4 .sns a{display: inline-block; width: 38px; height: 38px; text-indent: -9999px; 
    padding: 0 8px; background-repeat: no-repeat;}
.cont4 .sns a:nth-child(1){background-image: url(../img/insta.png);}
.cont4 .sns a:nth-child(2){background-image: url(../img/face.png);}
.cont4 .sns a:nth-child(3){background-image: url(../img/blog.png);}
.cont4 .sns a:nth-child(4){background-image: url(../img/utube.png);}
/* SNS 이미지 */
.cont4 .photo{}
.cont4 .photo li{float: left; margin-right: 15px; position: relative; cursor: pointer;}
.cont4 .photo li:before{content: ""; position: absolute; width: 100%; z-index: 10;
     height: 100%; background: rgba(0, 0, 0, 0.5); border-radius: 10px; opacity: 0; }
.cont4 .photo li:hover:before{opacity: 1;}
.cont4 .photo li img{border-radius: 10px;}
.cont4 .photo ul li:after{content:""; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); width: 46px; height: 46px; 
    background-repeat: no-repeat; z-index: 15; opacity: 0;
    margin-top: 30px; transition: all 0.7s;}

.cont4 .photo ul .s1:after{background:url(../img/iface.png);}
.cont4 .photo ul .s2:after{background:url(../img/iinata.png);}
.cont4 .photo ul .s3:after{background:url(../img/iblog.png);}
.cont4 .photo ul .s4:after{background:url(../img/iinata.png);}
.cont4 .photo ul .s5:after{background:url(../img/iblog.png);}
.cont4 .photo ul li:hover::after{opacity: 1; margin-top: 0;}

.cont4 .photo ul .s3{margin-right: 0; margin-bottom: 15px;}
.cont4 .photo ul .s5{margin-right: 0;}

/* 푸터 영역 */
#footer{width: 100%; height: 200px; border-top: 1px solid #ddd;}
#footer .fMenu{margin: 25px 0;}
.fMenu .fBtn{}
.fMenu .fBtn li{float: left; margin-right: 25px;}
.fMenu .family{width: 150px; height: 30px; padding: 5px 10px;
    position: absolute; top: 0; right: 0;
    background:url(../img/Btn.png) no-repeat 95% 50%;
    appearance : none; border-radius: 3px; outline: none;}

#footer .finfo{font-size: 14px; color: #777;}
#footer .finfo span{margin-right: 10px; line-height: 25px;}

/* 페이지 상단으로 이동 */
#goTop {display:none; position:fixed;
	bottom: 40px; right: 10px; z-index: 20;}
#goTop button{width: 60px; height: 60px;  
    background: url(../img/top.png) no-repeat;
    border: none; text-indent: -9999px;
    cursor: pointer;}
    #goTop button:hover{background: url(../img/top_on.png) no-repeat;}


